body{
    background-color: rgb(126, 119, 119);
    display: grid;
    place-items: center;
    margin-top: 200px;
}

.winner{
    color: green;
}

.reset{
    padding: 1em;
    margin-left: 35%;
}

.display{
    margin-left: 22%;
    font-size: 4rem;
}

.number{
    font-size: 2rem;
}